
<%-include("partials/header.ejs")%>

    <div class="book-details">
            <img class="details-img" src="https://covers.openlibrary.org/b/id/<%=book.book_id%>-L.jpg"/>
           
        <div class="details">
            <h1 class="details-title"><%= book.title %></h1>
            <div class="author-details">
                <p>by</p>
                <h3 class="author-name"><%= book.author %></h3>
            </div>
            <p>Genre: <span class="details-genre" ><%= genres %></span></p>
            <p>Date read: <span></span> <%= book.date.toLocaleDateString('en-US') %></p>
            <div class="details-rating">
            <p>My rating:</p>
            <%- include('partials/bookRating.ejs', {book}) %>

            </div>
            
            <p class="details-description"><%= book.description %></p>
            <textarea class="edit-input hidden"><%= book.description %></textarea>
             <div class="buttons">
            <button class="delete-btn">Delete</button>
            <button class="edit-btn" data-id=<%= book.book_id%> >Edit</button>
            <button class="save-btn hidden" data-id=<%= book.book_id%>>Save</button>
        </div>
      
        </div>
       
       
    
    </div>
   

<%-include('partials/footer.ejs')%>