 <div class="container">
       <%-include('partials/header.ejs')%>

        <!-- Carousel -->

       <% if (locals.carouselBooks) { %>
            <div class="slider-container">
               <div class = "slider">
            <% carouselBooks.forEach((book) => { %>
                <div class="slider-item">
                    <img src="https://covers.openlibrary.org/b/id/<%=book.book_id%>-L.jpg"/>
                    <div class="item-content">
                        <h1><%= book.title %></h1>
                        <p class="slider-author"><%= book.author %></p>
                        <div class="star-rating">
                            <p class="rating-number"><%= book.rating %> out of 5</p>
                           
                              <% for (let i = 1; i <= 5; i++) { %>
                                <% if (i <= Math.floor(book.rating)) { %>
                                  <!-- Full Star -->
                                  <span class="star filled">&#9733;</span>
                                <% } else if (i === Math.floor(book.rating) + 1 && book.rating % 1 !== 0) { %>
                                  <!-- Half Star (if rating has a decimal part) -->
                                  <span class="star half-filled">&#9733;</span>
                                <% } else { %>
                                  <!-- Empty Star -->
                                  <span class="star">&#9733;</span>
                                <% } %>
                              <% } %>
                           
                          </div> 
                        <p class="book-review"><%= book.description %></p>
                    
                        <a class="book-link" href="book/<%=book.book_id%>" target="_blank">Click for more</a>
                    </div>
                    
                </div>
                
                <% }) %>
            </div>
             <button class="prev ">&#10094;</button>
            <button class="next ">&#10095;</button>
        </div> 
     </div>
          <% } %> 
          <!-- Main Part -->

         <% if (locals.books) { %>
          <div class="select-dropdown">
            <label for="sort">Sort By: </label>
            <select name="sort" id="sort">
              <option value="recommended">Recommended</option>
              <option value="rating">Rating</option>
              <option value="date">Newest</option>
              <option value="title">Title</option>
            </select>
          </div>
          <div class="books-wrapper">    
              <div class="sort-books-section">
                  <div class="collection-wrapper">
                    <div class="collection-header aside-header">
                      <h2 class="collection-heading">Collections</h2>
                      <button class="collection-arrow-up aside-arrow-up"> <i class="fas fa-chevron-up"></i></button>
                     <button class="collection-arrow-down aside-arrow-down hidden"> <i class="fas fa-chevron-down"></i></button>
                    </div>
                    <ul class="collection-options">
                      <li>All (<%= bookCount %>)</li>
                      <li>My Favourites </li>
                      <li>Add to Collection</li>
                    </ul>

                  </div>
                
                  <div class="genre-wrapper">
                    <div class="genre-header aside-header">
                      <h2 class="genre-heading">Genres</h2>
                      <button class="genre-arrow-up aside-arrow-up"> <i class="fas fa-chevron-up"></i></button>
                      <button class="genre-arrow-down aside-arrow-down hidden"> <i class="fas fa-chevron-down"></i></button>
                    </div>
                      <ul class="genre-options">
                        <% genres.forEach((genre) => { %>
                          <li><%= genre %></li>   
                      <% }) %>
                        </ul>
                  </div>         
              </div>

              <div class="books-section">
                <% books.forEach((book) => { %>
                    <div class="image-container">
                      <i class="far fa-heart heart-icon"></i>
                        <div class="image-section">
                          <a href="book/<%= book.book_id %>" target="_blank"><img src="https://covers.openlibrary.org/b/id/<%=book.book_id%>-M.jpg"/></a>
                        </div>
                          <!-- <form action="/submit-rating" method="POST">
                            <label for="newRating">Rate this product:</label>
                            <input type="number" name="newRating" min="1" max="5" id="newRating" required>
                            <input type="hidden" name="productId" value="product-123">
                            <button type="submit">Submit Rating</button>
                          </form>                             -->
                        <div class="book-description">
                            <p class="book-title"><%= book.title %></p>
                            <p><%=book.author%></p>
                        </div>
                    </div>
                       
                   
               <% }); %>
                </div>
              </div>

            <% } %>
          

<%-include('partials/footer.ejs')%>  
  