 <div class="container">
       <%-include('partials/header.ejs')%>

        <!-- Carousel -->

       <% if (locals.carouselBooks) { %>
            <div class="slider-container">
               <div class = "slider">
            <% carouselBooks.forEach((book) => { %>
                <div class="slider-item">
                    <img src="https://covers.openlibrary.org/b/id/<%=book.book_id%>-L.jpg"/>
                    <div class="item-content">
                        <h1><%= book.title %></h1>
                        <div class="rating">            
                          <%- include('partials/bookRating.ejs', {book}) %>
                          <p class="rating-number"><%= book.rating %> out of 5</p>
                        </div>
                        <p class="slider-author"><%= book.author %></p>
                        <p class="book-review"><%= book.description %></p>
                    
                        <a class="book-link" href="book/<%=book.book_id%>" target="_blank">Click for more</a>
                    </div>
                    
                </div>
                
                <% }) %>
            </div>
             <button class="prev ">&#10094;</button>
            <button class="next ">&#10095;</button>
        </div> 
     </div>
          <% } %> 
          <!-- Main Part -->

         <% if (locals.books) { %>
          <form class="sort-form" action="/sort" method="post"></form>
            <div class="select-dropdown">
              <label for="sort">Sort By: </label>
              <select name="sort" id="sort">
                <option value="favourite">Recommended</option>
                <option value="rating">Rating</option>
                <option value="date">Newest</option>
                <option value="title">Title</option>
              </select>
            </div>
         
       
          <div class="books-wrapper">    
              <div class="sort-books-section">
                  <div class="collection-wrapper">
                    <div class="collection-header aside-header">
                      <h2 class="collection-heading">Collections</h2>
                      <button class="collection-arrow-up aside-arrow-up"> <i class="fas fa-chevron-up"></i></button>
                     <button class="collection-arrow-down aside-arrow-down hidden"> <i class="fas fa-chevron-down"></i></button>
                    </div>
                    <ul class="collection-options">
                      <li>All (<%= bookCount %>)</li>
                      <li>My Favourites </li>
                      <li>Add to Collection</li>
                    </ul>

                  </div>
                
                  <div class="genre-wrapper">
                    <div class="genre-header aside-header">
                      <h2 class="genre-heading">Genres</h2>
                      <button class="genre-arrow-up aside-arrow-up"> <i class="fas fa-chevron-up"></i></button>
                      <button class="genre-arrow-down aside-arrow-down hidden"> <i class="fas fa-chevron-down"></i></button>
                    </div>
                      <ul class="genre-options">
                        <% genres.forEach((genre) => { %>
                          <li><%= genre %></li>   
                      <% }) %>
                        </ul>
                  </div>         
              </div>

              <div class="books-section">
                <% books.forEach((book) => { %>
                    <div class="image-container"> 
                      <i class="fas fa-heart heart-full-icon hidden image-heart"></i>
                      <i class="far fa-heart heart-icon image-heart" data-id=<%= book.book_id %>></i>
                        <div class="image-section">
                          <a href="book/<%= book.book_id %>" target="_blank"><img src="https://covers.openlibrary.org/b/id/<%=book.book_id%>-M.jpg"/></a>
                        </div>
                          <!-- <form action="/submit-rating" method="POST">
                            <label for="newRating">Rate this product:</label>
                            <input type="number" name="newRating" min="1" max="5" id="newRating" required>
                            <input type="hidden" name="productId" value="product-123">
                            <button type="submit">Submit Rating</button>
                          </form>                             -->
                        <div class="book-description">
                            <p class="book-title"><%= book.title %></p>
                            <p><%=book.author%></p>
                        </div>
                      <%- include('partials/bookRating.ejs', {book}) %>
                    </div>
                       
                   
               <% }); %>
                </div>
              </div>

            <% } %>
          

<%-include('partials/footer.ejs')%>  
  